{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/categories.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div id="myBtnContainer">
  <h2>ONG Categorías</h2>
  <div class="myBtnContainer-cont">
    <button class="btn active" onclick="filterSelection('all')"> Mostrar Todas</button>
    <button class="btn" onclick="filterSelection('cars')">Familia</button>
    <button class="btn" onclick="filterSelection('animals')">Violencia de Género</button>
    <button class="btn" onclick="filterSelection('fruits')">Adicciones </button>
    <button class="btn" onclick="filterSelection('colors')">Personas en Situación de Calle</button>
    <button class="btn" onclick="filterSelection('colors')">Ollas Populares</button>

  </div>
</div>

<div class="categories-container">
  <aside>
    <div class="aside-h1">
      <h1>Departamentos</h1>
    </div>
    <div>
      <label class="container-checkbox">Colonia
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Montevideo
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Florida
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Canelones
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Rocha
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Río Negro
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container-checkbox">Río Branco
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </aside>

  <div class="container">
    {% for d in ongs %} 
    <div class="filterDiv cars">{{d['name']}}</div>
    {% endfor%}
   
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/b9132d8f3b.js" crossorigin="anonymous"></script>
<script src="/static/js/categories.js"></script>
{% endblock %}