<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <title>Document</title>

    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1>Ong</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/categories">See all categories</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <h2>Ong de uruguay</h2>
    </footer>

    <script src="/static/js/layout.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>