<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Loguin</title>
</head>
<body>
    <form>
        <div class="imgcontainer">
          <img src="/img/loguin.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Nombre del administrador/a</b></label>
          <input type="text" placeholder="Ingrese su nombre" name="uname" required>
      
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Ingrese su contraseña" name="psw" required>
      
          <button type="submit">Entrar</button>
          <label style="text-align: center">
            <input type="checkbox" checked="checked" name="remember" > Recuérdame
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1; border-radius: 10px;">
          <button type="button" class="cancelbtn" style="margin: bottom 15px;">Cancelar</button>
          <span class="psw">Olvidaste <a href="#"> la contraseña?</a></span>
        </div>
      </form>
</body>
</html>