<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    {% block styles %}{% endblock %}

    <style>
        nav{
            display: block;
            height: 100px;
            width: 100%;
            border: 1px solid gray;
            padding: 40px;
        }

        main{
            padding: 20px 40px;
        }

    a{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    background-color: #0057b4;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    }
    </style>
</head>
<body>
    <nav>
        <a href="/admin/ongs">Ver todas las ONG</a>
        <a href="/admin/ongs/new">Añadir ONG</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>