{% extends 'admin/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/table.css">
{% endblock %}

{% block content%}
<div>
  <label class="label-filter" for="filter"><b>Filtrar por nombre:</b></label>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." name="filter">
  </div>

  
  <table id="myTable">
    <tr class="header">
      <th style="width:5%;" >Id</th>
      <th style="width:20%;">Nombre de las ONG</th>
      <th style="width:30%;">Descripción</th>
      <th style="width:10%;"> Número de contacto</th>
      <th style="width:10%;"> Dirección</th>
      <th style="width: 10%;">Nombre del encargado/a de la ONG</th>
      <th style="width: 10%;"> Número de contacto</th>
      <th style="width:5%;"></th>
    </tr>

    {% for d in ongs %} 
     <tr>
      <td>{{d['id']}}</td> 
      <td>{{d['name']}}</td>
      <td>{{d['description']}}</td>
      <td>{{d['contact_number']}}</td>
      <td>{{d['address']}}</td>
      <td>{{d['manager_name']}}</td>
      <td>{{d['manager_contact']}}</td>
      <td><button onclick="deleteOng('{{d['id']}}', '{{d['name']}}')">Borrar</button></td>
      
     </tr>
    {% endfor %}
  
  </table>

  
{% endblock %}

{% block scripts %}
<script src="/static/js/table.js"></script>

{% endblock %}

